@media(min-width:768px) and (max-width:991px){
    .slider-inner h2 {
        font-size: 40px;
    }
    .slider-inner p {
        margin-bottom: 35px;
    }
    .features-area{
      margin: 0;
      box-shadow: none;
      
    }
    .single-features{
        border-bottom: 1px groove #ddd;
    }
    .theme-bg .col-lg-4:last-child .single-features{
        border-bottom: 0;
    }
    .about-text p{
        margin-bottom: 30px;    
}
.about-img > img {
    width: 100%;
    box-shadow: 10px 20px 40px #000;
}
.about-text > a {
	margin-bottom: 35px;
}
.subscribe-form input {

    width: 22%;

}
.features-area{
    margin-top: -100px;
}
.team-area .col-md-6 {
	margin-bottom: 37px;
}
.team-area {
	padding-bottom: 80px;
}
.btn-read {
	margin-bottom: 30px;
}
.single-slider{
    background-size: cover;
    background-position: center;
}

}
@media(max-width:767px){
    .single-features{
        border-bottom: 1px groove #ddd;
    }
    .theme-bg .col-lg-4:last-child .single-features{
        border-bottom: 0;
    }
    .features-area{
        margin: 0;
        box-shadow: none;
        
      }
      .slider-inner h2 {
        font-size: 30px;
      }
      .main-menu ul li {
        display: inline-block;
        margin-left: 5px;
        display: none;
    }
    .pricing-item {
        width: 100%;
    }
    .subscribe-area {
        background-image: linear-gradient(to right, rgba(80, 91, 253, 0.747),rgba(80, 91, 253, 0.897));
        padding-top: 70px;
        padding-bottom: 130px;
    }
    .btn-read{
        margin-bottom: 43px;
    }
    *, ::after, ::before {
        box-sizing: border-box;
    }
    .title-area p {
        margin-bottom: 35px;
    }
    .subscribe-form{
        position: relative;
    }
    
    .subscribe-form input{
        width: 30%;
    }
    .btn-subscribe {
        position: absolute;
        left: -21px;
        right: 0;
        margin: auto;
        top: 60px;
    }
    .about-img{
        text-align: center;
    }
    .team-img{
        margin-bottom: 20px;
    }
    .testomonial-item{
        padding: 60px 60px;
    }
    .footer-menu{
        text-align: left!important;
    }

}
@media only screen and (min-width:576px) and (max-width:767px){
    
}